.container {
    max-width: 600px;
    margin: 30px auto;
    background-color: #eeeeeec8;
    padding: 30px;
    margin: 60px auto;
}
body {
    font-family: sans-serif;
    background-image: url("black-white-world-map_608828-861.avif");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Noto Sans Mono", monospace;
}
h1 {
    text-align: center;
    font-size: 48px;
}
.city {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    padding: 20px 0;
}
.city:last-child {
    border-bottom: none;
}
.date {
    opacity: 0.7;
}
.time {
   font-size: 42px;
   font-weight: bold; 
}
.time small {
    font-size: 24px;
    vertical-align: middle;
    line-height: 36px;
}

select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}
h2 {
    margin: 0 0 5px;
    font-size: 28px;
}
a {
    color: #393e46;
    font-weight: bold;
}
footer a {
    color: #ff5722;
    font-weight: bold;
    text-decoration: none;
}
footer {
    max-width: 600px;
    margin: 0 auto;
    background-color: #eeeeeec8;
    padding: 30px;
    font-size: 15px;
    text-align: center;
}